<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta charset="UTF-8" />
<title>index</title>
</head>
<body>
	<div class="container">
		<nav th:replace="layout :: header"></nav>
		<H1>ダッシュボード</H1>
		<div class="row">
			<div class="col-sm-4" style="background-color: lavender;">
				<img src="reports/Report1.png" width="360" /> <a href="/shelf" th:href="@{/shelf}">棚のリアル在庫情報
				</a>
			</div>
			<div class="col-sm-4" style="background-color: lavenderblush;">
				<img src="reports/Report2.png" width="360" /> <a href="/product" th:href="@{/shelf}">商品の動きパターン一覧</a>
			</div>
			<div class="col-sm-4" style="background-color: lavender;">
				<img src="reports/Report3.png" width="360" height="360"/> <a href="/mirror" th:href="@{/mirror}">ミラー前時間別推移グラフ</a>
			</div>
		</div>
	</div>
</body>
</html>