<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta charset="UTF-8" />
<title>index</title>
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/logout}" method="POST">
			<button type="submit">Logout</button>
		</form>
		<H1>ダッシュボード</H1>
		<div class="row">
			<div class="col-sm-4" style="background-color: lavender;">
				<img src="reports/ReportTest.png" width="350" /> <a href="/shelf" th:href="@{/shelf}">棚のリアル在庫情報
				</a>
			</div>
			<div class="col-sm-4" style="background-color: lavenderblush;">
				<img src="reports/ReportTest.png" width="350" /> <a href="#">商品の動きパターン一覧</a>
			</div>
			<div class="col-sm-4" style="background-color: lavender;">
				<img src="reports/ReportTest.png" width="350" /> <a href="#">ミラー前時間別推移グラフ</a>
			</div>
		</div>
	</div>
</body>
</html>