<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
	<nav th:replace="layout :: header"></nav>
	<div class="container">
		<h2>棚のリアル在庫情報</h2>
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>JANコード</th>
					<th>商品名</th>
					<th>件数</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="goodInShelf,iterStat : ${goodsInShelf}">
					<td th:text="${iterStat.count}"></td>
					<td th:text="${goodInShelf.jan_code}"></td>
					<td th:text="${goodInShelf.goods_name}"></td>
					<td th:text="${goodInShelf.countShelf}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>